/* Author: Isa Luluquisin
// Description: Script contains formatting for the non-navbar and non-carousel components
// of the customerLandingPage.js
*/

.customerLandingPage {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
}

li{
  float: left;
}

ul{
  list-style-type: none;
  overflow: hidden;
}