/* mid section */
.mid-section{
    width: 100%;
    height: 800px;
    padding: 40px 5vw;
   }
   .section-item-container{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
   }
   .section-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
   }
   .section-info{
    width: 50%;
    height: 100%;
    background: #fff;
    display: block;
    margin-left: auto;
    padding: 50px;
    text-align: center;
   }
   .title{
    font-size: 60px;
    line-height: 100px;
   }
   .title span{
    color: #d5be8b;
   }
   .info{
    font-family: ‘lato’, sans-serif;
    font-size: 25px;
    line-height: 45px;
    margin-top: 30px;
    opacity: 0.5;
   }