.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 9;
    transition: .5s;
   }
   .navbar.bg{
    background: #ffc500;
   }
   .links-container{
    display: flex;
    align-items: center;
    list-style: none;
   }
   .link-item{
    margin: 10px;
   }
   .link{
    font-size: 22px;
    color: #ffc500;
    text-decoration: none;
    padding: 10px;
    opacity: 0.7;
    transition: .5s;
   }
   .navbar.bg .link{
    color: #000;
    opacity: 0.5;
   }
   .link.active, .link:hover, .navbar.bg .link:hover, .navbar.bg .link.active{
    opacity: 1;
   }
   .user-interactions{
    display: flex;
    position: absolute;
    right: 5vw;
    top: 50%;
    transform: translateY(-50%);
   }
   .cart, .user{
    width: 30px;
    height: 30px;
    position: relative;
    margin: 10px;
    cursor: pointer;
   }
   .cart-icon, .user-icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   .cart-item-count{
    font-family: ‘lato’, sans-serif;
    color: #d5be8b;
    padding: 5px;
    font-size: 15px;
    border-radius: 50%;
    background: #190c05;
    position: absolute;
    bottom: -12px;
    left: -12px;
   }